Package: dynomitedb
Version: 0:0.0.0
Section: database
Priority: extra
Licence: Apache 2.0
Vendor: DynomiteDB
Architecture: amd64
Depends: libc6 (>= 2.14)
Maintainer: Akbar S. Ahmed <akbar@dynomitedb.com>
Homepage: http://www.dynomitedb.com
Description: Turn single server databases into distributed databases
 A high performance, linearly scalable, highly available (HA) and distributed
 database framework that converts single-server databases into scalable,
 distributed databases. DynomiteDB supports a variety of backends: Redis,
 RocksDB, LevelDB, WiredTiger and LMDB.
